
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Try React</h2>

<div id="root"></div>

@section scripts {
    <script src="~/Scripts/React/dist/bundle.js"></script>
}